body {
    font-family: 'roboto-regular', Courier, monospace;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

header {
    background-color: #EDE3CE;
    padding: 20px;
    text-align: center;
}

header h1 {
    color: white;
    margin-bottom: 10px;
}

nav a {
    color: #9D7153;
    margin: 0 10px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}
.question-block {
    background-color: #EDE3CE;
    padding: 20px;
    margin: 20px auto;
    width: 80%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.question-block h2 {
    font-size: 1.5em;
    color: white;
}

.question-block p {
    font-size: 1.2em;
    color: #9D7153;
}

.question-block strong {
    color: black;
}

.question-block:hover {
    transform: scale(1.02);
    transition: transform 0.2s ease-in-out;
}
/* Style général */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }
  
  /* Style de l'image déclencheuse */
  .trigger-container {
    position: fixed;
    top: 20px; /* Position en haut à gauche */
    left: 10px; /* Légèrement à gauche */
    z-index: 1000; /* S'assurer que l'image est au-dessus des autres éléments */
  }
  
  .trigger-container img {
    width: 50px;
    cursor: pointer;
  }
  
  /* Barre de navigation latérale */
  #navbar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%; /* La barre occupe toute la hauteur de la page */
    width: 250px; /* Largeur de la barre de navigation */
    background-color: #333;
    padding: 20px;
    transform: translateX(-100%); /* Masqué initialement à gauche */
    transition: transform 0.3s ease-in-out;
    z-index: 999; /* Assurez-vous que la barre est au-dessus des autres éléments */
  }
  
  /* Lien horizontalement dans la barre de navigation */
  #navbar ul {
    list-style: none;
    display: flex;
    flex-direction: row; /* Disposer les liens horizontalement */
    justify-content: flex-start; /* Alignement des liens à gauche */
    margin: 0;
    padding: 0;
  }
  
  #navbar li {
    margin: 0 20px; /* Espacement des liens */
  }
  
  #navbar a {
    color: white;
    text-decoration: none;
    font-size: 18px;
  }
  
  #navbar a:hover {
    text-decoration: underline;
  }
  
  /* Classe pour rendre la barre visible */
  #navbar.visible {
    transform: translateX(0); /* Faire glisser la barre de gauche vers la droite */
  }