body {
    font-family: 'roboto-regular', Courier, monospace;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

header {
    background-color: #EDE3CE;
    padding: 20px;
    text-align: center;
}

header h1 {
    color: white;
    margin-bottom: 10px;
}

nav a {
    color: #9D7153;
    margin: 0 10px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}
.question-block {
    background-color: #EDE3CE;
    padding: 20px;
    margin: 20px auto;
    width: 80%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.question-block h2 {
    font-size: 1.5em;
    color: #345774;
}

.question-block p {
    font-size: 1.2em;
    color: #345774;
}

.question-block strong {
    color: black;
}

.question-block:hover {
    transform: scale(1.02);
    transition: transform 0.2s ease-in-out;
}