body {
    font-family: 'roboto-regular', Courier, monospace;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Empêche le défilement horizontal */
}

header {
    background-color: #EDE3CE;
    padding: 20px;
    text-align: center;
}

header h1 {
    color: white;
    margin-bottom: 10px;
}

nav a {
    color: #9D7153;
    margin: 0 10px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}
.question-block {
    background-color: #EDE3CE;
    padding: 20px;
    margin: 20px auto;
    width: 80%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.question-block h2 {
    font-size: 1.5em;
    color: white;
}

.question-block p {
    font-size: 1.2em;
    color: #9D7153;
}

.question-block strong {
    color: black;
}

.question-block:hover {
    transform: scale(1.02);
    transition: transform 0.2s ease-in-out;
}
  /* Style de l'image déclencheuse (menu) */
  .trigger-container {
    position: fixed;
    top: 20px;
    left: 10px;
    z-index: 1000;
  }
  
  .trigger-container img {
    width: 40px; /* Taille de l'icône de menu */
    cursor: pointer;
  }
  
  /* Barre de navigation latérale */
  #navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    background-color: #333;
    padding: 20px 10px; /* Ajouter du padding pour ne pas coller les éléments aux bords */
    transform: translateX(-100%); /* Initialement masqué à gauche */
    transition: transform 0.3s ease-in-out;
    z-index: 999;
  }
  
  /* Liens dans la barre de navigation */
  #navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column; /* Placer les liens de manière verticale */
    align-items: flex-start; /* Aligner les liens à gauche */
  }
  
  #navbar li {
    margin: 15px 0; /* Espacement entre les liens */
  }
  
  #navbar a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 20px;
    display: block; /* Rendre les liens cliquables dans toute leur largeur */
  }
  
  #navbar a:hover {
    background-color: #575757; /* Fond au survol des liens */
    text-decoration: none;
  }
  
  /* Classe pour afficher la barre */
  #navbar.visible {
    transform: translateX(0); /* Faire glisser la barre de navigation vers la droite */
  }